
.button-box {
    margin-left: 15px;
}

.compact-buttons-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compact-buttons {
  display: inline-flex;
  align-items: center;
}

.compact-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #f1f1f1;
  color: #555;
  font-size: 28px;
  cursor: pointer;
}

.compact-button:hover {
  background-color: #ddd;
}

.compact-button:active {
  background-color: #bbb;
}

