html, body {
  padding:0;
  margin:0;
  width:100%;
}

.container-fluid {
  display: table;
}

.title {
  text-align: center;
  vertical-align: center;
  font-size: xxx-large;
  display: table-cell;
  height: 100px;
}

.legend {
    @extend .col-md-4;
  text-align: center;
  vertical-align: center;
  display: table-cell;
}

.slider {
    @extend .col-md-4;
    display: table-cell;
    vertical-align: middle;
}

.gadget {
  @extend .col-md-4;
  height: 15px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction:row;
  align-items:center;
}

.tempo {
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
  display: table-cell;
}

.up-button, .down-button {
  display: inline-block;
  padding: 10px;
  color: white;
  cursor: pointer;
  flex-grow:1;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid black;
}

.arrow-up {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}

.row {

  display: table-row;
  height: 15%;
}

.dropbtn {
    background-image: url( "mclick.svg" );
    background-size: 76px 76px;
    height: 80px;
    width: 80px;
}

/* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
